$fbgs-gutter-width: 1.6rem;
@import '_fbgs.scss';

/**
* Syntaxique sugar
*/
$blackboard: #222;
$code-block: #3F61A6;
$code-block-dark: #2F4673;
$header: #829FD9;
$background: #DCE0EC;
$box-color: #03A6A6;

* { box-sizing: border-box; }
body, html {
  background-color: $background;
  font: 10px 'Open Sans', sans-serif;
}
header {
  padding: 3em 2em;
  background-color: $code-block-dark; border-bottom: 3px solid $header;
  text-align: center; font-size: 2em; color: $background;
}
.button, button {
  position: relative;
  display: inline-block; margin: 0 0.5rem 0; padding: 0.6em 1.2em;
  background-color: $code-block; color: #fff; border: 2px solid $code-block; border-radius: 3px;
  font-weight: 400; font-size: .8em; line-height: normal; font-family: inherit; text-decoration: none; text-align: center; outline: none; text-transform: uppercase;
  cursor: pointer; appearance: none;
  &:hover { background-color: #fff; color: $code-block; }
  .fa { margin-right: .6em; }
}
#wrapper {
  max-width: 1200px; margin: 0 auto; padding: 1em;
  font-size: 1.6em;
  xmp {
    padding: 1em; margin: 0;
    background-color: $blackboard; overflow: auto;
    color: $background; font: 300 0.8em/1.6em "Source Code Pro", sans-serif;
  }
  .box {
    margin-bottom: -1em;
    > * {
      min-height: 2em; margin-bottom: 1em;
      background-color: $box-color;
      &.box-high { min-height: 4em; }
    }
  }
  section {
    background: #fff;
    &.fill { background-color: #fff; }
  }
}