.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .flex.no-compensation {
    margin-left: 0;
    margin-right: 0; }
  .flex > * {
    box-sizing: border-box; }

.justify-start {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  box-sizing: border-box; }
  .justify-start > .flex-1 {
    -ms-flex-preferred-size: calc(8.33333% - 1.6rem);
        flex-basis: calc(8.33333% - 1.6rem);
    max-width: calc(8.33333% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-2 {
    -ms-flex-preferred-size: calc(16.66667% - 1.6rem);
        flex-basis: calc(16.66667% - 1.6rem);
    max-width: calc(16.66667% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-3 {
    -ms-flex-preferred-size: calc(25% - 1.6rem);
        flex-basis: calc(25% - 1.6rem);
    max-width: calc(25% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-4 {
    -ms-flex-preferred-size: calc(33.33333% - 1.6rem);
        flex-basis: calc(33.33333% - 1.6rem);
    max-width: calc(33.33333% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-5 {
    -ms-flex-preferred-size: calc(41.66667% - 1.6rem);
        flex-basis: calc(41.66667% - 1.6rem);
    max-width: calc(41.66667% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-6 {
    -ms-flex-preferred-size: calc(50% - 1.6rem);
        flex-basis: calc(50% - 1.6rem);
    max-width: calc(50% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-7 {
    -ms-flex-preferred-size: calc(58.33333% - 1.6rem);
        flex-basis: calc(58.33333% - 1.6rem);
    max-width: calc(58.33333% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-8 {
    -ms-flex-preferred-size: calc(66.66667% - 1.6rem);
        flex-basis: calc(66.66667% - 1.6rem);
    max-width: calc(66.66667% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-9 {
    -ms-flex-preferred-size: calc(75% - 1.6rem);
        flex-basis: calc(75% - 1.6rem);
    max-width: calc(75% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-10 {
    -ms-flex-preferred-size: calc(83.33333% - 1.6rem);
        flex-basis: calc(83.33333% - 1.6rem);
    max-width: calc(83.33333% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-11 {
    -ms-flex-preferred-size: calc(91.66667% - 1.6rem);
        flex-basis: calc(91.66667% - 1.6rem);
    max-width: calc(91.66667% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem; }
  .justify-start > .flex-12 {
    -ms-flex-preferred-size: calc(100% - 1.6rem);
        flex-basis: calc(100% - 1.6rem);
    max-width: calc(100% - 1.6rem); }

.row-reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

.flex-column {
  -ms-flex-direction: column;
      flex-direction: column; }
  .flex-column > * {
    max-width: 100%; }
  .flex-column.column-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }

.force-width {
  width: 100%; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.justify-start {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.justify-center {
  -ms-flex-pack: center;
      justify-content: center; }

.justify-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.align-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.align-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center; }

.align-items-start {
  -ms-flex-align: start;
      align-items: flex-start; }

.align-items-center {
  -ms-flex-align: center;
      align-items: center; }

.align-items-end {
  -ms-flex-align: end;
      align-items: flex-end; }

.align-items-stretch {
  -ms-flex-align: end;
      align-items: flex-end; }

.align-items-baseline {
  -ms-flex-align: baseline;
      align-items: baseline; }

.flex-1 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(8.33333% - 1.46667rem);
      flex-basis: calc(8.33333% - 1.46667rem);
  max-width: calc(8.33333% - 1.46667rem); }

.flex-2 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(16.66667% - 1.33333rem);
      flex-basis: calc(16.66667% - 1.33333rem);
  max-width: calc(16.66667% - 1.33333rem); }

.flex-3 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(25% - 1.2rem);
      flex-basis: calc(25% - 1.2rem);
  max-width: calc(25% - 1.2rem); }

.flex-4 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(33.33333% - 1.06667rem);
      flex-basis: calc(33.33333% - 1.06667rem);
  max-width: calc(33.33333% - 1.06667rem); }

.flex-5 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(41.66667% - 0.93333rem);
      flex-basis: calc(41.66667% - 0.93333rem);
  max-width: calc(41.66667% - 0.93333rem); }

.flex-6 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(50% - 0.8rem);
      flex-basis: calc(50% - 0.8rem);
  max-width: calc(50% - 0.8rem); }

.flex-7 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(58.33333% - 0.66667rem);
      flex-basis: calc(58.33333% - 0.66667rem);
  max-width: calc(58.33333% - 0.66667rem); }

.flex-8 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(66.66667% - 0.53333rem);
      flex-basis: calc(66.66667% - 0.53333rem);
  max-width: calc(66.66667% - 0.53333rem); }

.flex-9 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(75% - 0.4rem);
      flex-basis: calc(75% - 0.4rem);
  max-width: calc(75% - 0.4rem); }

.flex-10 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(83.33333% - 0.26667rem);
      flex-basis: calc(83.33333% - 0.26667rem);
  max-width: calc(83.33333% - 0.26667rem); }

.flex-11 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(91.66667% - 0.13333rem);
      flex-basis: calc(91.66667% - 0.13333rem);
  max-width: calc(91.66667% - 0.13333rem); }

.flex-12 {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-preferred-size: calc(100% - 0rem);
      flex-basis: calc(100% - 0rem);
  max-width: calc(100% - 0rem); }

.flex-offset-0 {
  margin-left: 0.8rem; }

.flex-offset-1 {
  margin-left: calc(8.33333% + 0.8rem); }

.flex-offset-2 {
  margin-left: calc(4.16667% + 0.8rem); }

.flex-offset-3 {
  margin-left: calc(2.77778% + 0.8rem); }

.flex-offset-4 {
  margin-left: calc(2.08333% + 0.8rem); }

.flex-offset-5 {
  margin-left: calc(1.66667% + 0.8rem); }

.flex-offset-6 {
  margin-left: calc(1.38889% + 0.8rem); }

.flex-offset-7 {
  margin-left: calc(1.19048% + 0.8rem); }

.flex-offset-8 {
  margin-left: calc(1.04167% + 0.8rem); }

.flex-offset-9 {
  margin-left: calc(0.92593% + 0.8rem); }

.flex-offset-10 {
  margin-left: calc(0.83333% + 0.8rem); }

.flex-offset-11 {
  margin-left: calc(0.75758% + 0.8rem); }

.flex-offset-12 {
  margin-left: calc(0.69444% + 0.8rem); }

.align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.align-self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.flex-first {
  -ms-flex-order: -1;
      order: -1; }

.flex-last {
  -ms-flex-order: 1;
      order: 1; }

.flex-auto {
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

.flex-center {
  margin-left: auto;
  margin-right: auto; }

.flex-left {
  margin-left: initial;
  margin-right: 0; }

.flex-right {
  margin-right: initial;
  margin-left: 0; }

@media (min-width: 560px) {
  .flex-sm {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .flex-sm.no-compensation-sm {
      margin-left: 0;
      margin-right: 0; }
    .flex-sm > * {
      box-sizing: border-box; }

  .justify-start, .justify-sm-start {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
    box-sizing: border-box; }
    .justify-start > .flex-sm-1, .justify-sm-start > .flex-sm-1 {
      -ms-flex-preferred-size: calc(8.33333% - 1.6rem);
          flex-basis: calc(8.33333% - 1.6rem);
      max-width: calc(8.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-2, .justify-sm-start > .flex-sm-2 {
      -ms-flex-preferred-size: calc(16.66667% - 1.6rem);
          flex-basis: calc(16.66667% - 1.6rem);
      max-width: calc(16.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-3, .justify-sm-start > .flex-sm-3 {
      -ms-flex-preferred-size: calc(25% - 1.6rem);
          flex-basis: calc(25% - 1.6rem);
      max-width: calc(25% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-4, .justify-sm-start > .flex-sm-4 {
      -ms-flex-preferred-size: calc(33.33333% - 1.6rem);
          flex-basis: calc(33.33333% - 1.6rem);
      max-width: calc(33.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-5, .justify-sm-start > .flex-sm-5 {
      -ms-flex-preferred-size: calc(41.66667% - 1.6rem);
          flex-basis: calc(41.66667% - 1.6rem);
      max-width: calc(41.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-6, .justify-sm-start > .flex-sm-6 {
      -ms-flex-preferred-size: calc(50% - 1.6rem);
          flex-basis: calc(50% - 1.6rem);
      max-width: calc(50% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-7, .justify-sm-start > .flex-sm-7 {
      -ms-flex-preferred-size: calc(58.33333% - 1.6rem);
          flex-basis: calc(58.33333% - 1.6rem);
      max-width: calc(58.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-8, .justify-sm-start > .flex-sm-8 {
      -ms-flex-preferred-size: calc(66.66667% - 1.6rem);
          flex-basis: calc(66.66667% - 1.6rem);
      max-width: calc(66.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-9, .justify-sm-start > .flex-sm-9 {
      -ms-flex-preferred-size: calc(75% - 1.6rem);
          flex-basis: calc(75% - 1.6rem);
      max-width: calc(75% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-10, .justify-sm-start > .flex-sm-10 {
      -ms-flex-preferred-size: calc(83.33333% - 1.6rem);
          flex-basis: calc(83.33333% - 1.6rem);
      max-width: calc(83.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-11, .justify-sm-start > .flex-sm-11 {
      -ms-flex-preferred-size: calc(91.66667% - 1.6rem);
          flex-basis: calc(91.66667% - 1.6rem);
      max-width: calc(91.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-sm-12, .justify-sm-start > .flex-sm-12 {
      -ms-flex-preferred-size: calc(100% - 1.6rem);
          flex-basis: calc(100% - 1.6rem);
      max-width: calc(100% - 1.6rem); }

  .row-reverse-sm {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }

  .flex-column-sm {
    -ms-flex-direction: column;
        flex-direction: column; }
    .flex-column-sm > * {
      max-width: 100%; }
    .flex-column-sm.column-reverse-sm {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

  .force-width-sm {
    width: 100%; }

  .flex-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .justify-sm-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }

  .justify-sm-center {
    -ms-flex-pack: center;
        justify-content: center; }

  .justify-sm-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }

  .justify-sm-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .justify-sm-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }

  .align-content-sm-start {
    -ms-flex-line-pack: start;
        align-content: flex-start; }

  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }

  .align-content-sm-between {
    -ms-flex-line-pack: justify;
        align-content: space-between; }

  .align-content-sm-center {
    -ms-flex-line-pack: center;
        align-content: center; }

  .align-items-sm-start {
    -ms-flex-align: start;
        align-items: flex-start; }

  .align-items-sm-center {
    -ms-flex-align: center;
        align-items: center; }

  .align-items-sm-end {
    -ms-flex-align: end;
        align-items: flex-end; }

  .align-items-sm-stretch {
    -ms-flex-align: end;
        align-items: flex-end; }

  .align-items-sm-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }

  .flex-sm-1 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(8.33333% - 1.46667rem);
        flex-basis: calc(8.33333% - 1.46667rem);
    max-width: calc(8.33333% - 1.46667rem); }

  .flex-sm-2 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(16.66667% - 1.33333rem);
        flex-basis: calc(16.66667% - 1.33333rem);
    max-width: calc(16.66667% - 1.33333rem); }

  .flex-sm-3 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(25% - 1.2rem);
        flex-basis: calc(25% - 1.2rem);
    max-width: calc(25% - 1.2rem); }

  .flex-sm-4 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(33.33333% - 1.06667rem);
        flex-basis: calc(33.33333% - 1.06667rem);
    max-width: calc(33.33333% - 1.06667rem); }

  .flex-sm-5 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(41.66667% - 0.93333rem);
        flex-basis: calc(41.66667% - 0.93333rem);
    max-width: calc(41.66667% - 0.93333rem); }

  .flex-sm-6 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(50% - 0.8rem);
        flex-basis: calc(50% - 0.8rem);
    max-width: calc(50% - 0.8rem); }

  .flex-sm-7 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(58.33333% - 0.66667rem);
        flex-basis: calc(58.33333% - 0.66667rem);
    max-width: calc(58.33333% - 0.66667rem); }

  .flex-sm-8 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(66.66667% - 0.53333rem);
        flex-basis: calc(66.66667% - 0.53333rem);
    max-width: calc(66.66667% - 0.53333rem); }

  .flex-sm-9 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(75% - 0.4rem);
        flex-basis: calc(75% - 0.4rem);
    max-width: calc(75% - 0.4rem); }

  .flex-sm-10 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(83.33333% - 0.26667rem);
        flex-basis: calc(83.33333% - 0.26667rem);
    max-width: calc(83.33333% - 0.26667rem); }

  .flex-sm-11 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(91.66667% - 0.13333rem);
        flex-basis: calc(91.66667% - 0.13333rem);
    max-width: calc(91.66667% - 0.13333rem); }

  .flex-sm-12 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(100% - 0rem);
        flex-basis: calc(100% - 0rem);
    max-width: calc(100% - 0rem); }

  .flex-sm-offset-0 {
    margin-left: 0.8rem; }

  .flex-sm-offset-1 {
    margin-left: calc(8.33333% + 0.8rem); }

  .flex-sm-offset-2 {
    margin-left: calc(4.16667% + 0.8rem); }

  .flex-sm-offset-3 {
    margin-left: calc(2.77778% + 0.8rem); }

  .flex-sm-offset-4 {
    margin-left: calc(2.08333% + 0.8rem); }

  .flex-sm-offset-5 {
    margin-left: calc(1.66667% + 0.8rem); }

  .flex-sm-offset-6 {
    margin-left: calc(1.38889% + 0.8rem); }

  .flex-sm-offset-7 {
    margin-left: calc(1.19048% + 0.8rem); }

  .flex-sm-offset-8 {
    margin-left: calc(1.04167% + 0.8rem); }

  .flex-sm-offset-9 {
    margin-left: calc(0.92593% + 0.8rem); }

  .flex-sm-offset-10 {
    margin-left: calc(0.83333% + 0.8rem); }

  .flex-sm-offset-11 {
    margin-left: calc(0.75758% + 0.8rem); }

  .flex-sm-offset-12 {
    margin-left: calc(0.69444% + 0.8rem); }

  .align-self-sm-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }

  .align-self-sm-center {
    -ms-flex-item-align: center;
        align-self: center; }

  .align-self-sm-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }

  .flex-sm-shrink {
    -ms-flex-negative: 1;
        flex-shrink: 1; }

  .flex-sm-first {
    -ms-flex-order: -1;
        order: -1; }

  .flex-sm-last {
    -ms-flex-order: 1;
        order: 1; }

  .flex-sm-auto {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }

  .flex-sm-center {
    margin-left: auto;
    margin-right: auto; }

  .flex-sm-left {
    margin-left: initial;
    margin-right: 0; }

  .flex-sm-right {
    margin-right: initial;
    margin-left: 0; } }
@media (min-width: 769px) {
  .flex-med {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .flex-med.no-compensation-med {
      margin-left: 0;
      margin-right: 0; }
    .flex-med > * {
      box-sizing: border-box; }

  .justify-start, .justify-med-start {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
    box-sizing: border-box; }
    .justify-start > .flex-med-1, .justify-med-start > .flex-med-1 {
      -ms-flex-preferred-size: calc(8.33333% - 1.6rem);
          flex-basis: calc(8.33333% - 1.6rem);
      max-width: calc(8.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-2, .justify-med-start > .flex-med-2 {
      -ms-flex-preferred-size: calc(16.66667% - 1.6rem);
          flex-basis: calc(16.66667% - 1.6rem);
      max-width: calc(16.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-3, .justify-med-start > .flex-med-3 {
      -ms-flex-preferred-size: calc(25% - 1.6rem);
          flex-basis: calc(25% - 1.6rem);
      max-width: calc(25% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-4, .justify-med-start > .flex-med-4 {
      -ms-flex-preferred-size: calc(33.33333% - 1.6rem);
          flex-basis: calc(33.33333% - 1.6rem);
      max-width: calc(33.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-5, .justify-med-start > .flex-med-5 {
      -ms-flex-preferred-size: calc(41.66667% - 1.6rem);
          flex-basis: calc(41.66667% - 1.6rem);
      max-width: calc(41.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-6, .justify-med-start > .flex-med-6 {
      -ms-flex-preferred-size: calc(50% - 1.6rem);
          flex-basis: calc(50% - 1.6rem);
      max-width: calc(50% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-7, .justify-med-start > .flex-med-7 {
      -ms-flex-preferred-size: calc(58.33333% - 1.6rem);
          flex-basis: calc(58.33333% - 1.6rem);
      max-width: calc(58.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-8, .justify-med-start > .flex-med-8 {
      -ms-flex-preferred-size: calc(66.66667% - 1.6rem);
          flex-basis: calc(66.66667% - 1.6rem);
      max-width: calc(66.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-9, .justify-med-start > .flex-med-9 {
      -ms-flex-preferred-size: calc(75% - 1.6rem);
          flex-basis: calc(75% - 1.6rem);
      max-width: calc(75% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-10, .justify-med-start > .flex-med-10 {
      -ms-flex-preferred-size: calc(83.33333% - 1.6rem);
          flex-basis: calc(83.33333% - 1.6rem);
      max-width: calc(83.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-11, .justify-med-start > .flex-med-11 {
      -ms-flex-preferred-size: calc(91.66667% - 1.6rem);
          flex-basis: calc(91.66667% - 1.6rem);
      max-width: calc(91.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-med-12, .justify-med-start > .flex-med-12 {
      -ms-flex-preferred-size: calc(100% - 1.6rem);
          flex-basis: calc(100% - 1.6rem);
      max-width: calc(100% - 1.6rem); }

  .row-reverse-med {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }

  .flex-column-med {
    -ms-flex-direction: column;
        flex-direction: column; }
    .flex-column-med > * {
      max-width: 100%; }
    .flex-column-med.column-reverse-med {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

  .force-width-med {
    width: 100%; }

  .flex-med-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .flex-med-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .justify-med-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }

  .justify-med-center {
    -ms-flex-pack: center;
        justify-content: center; }

  .justify-med-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }

  .justify-med-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .justify-med-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }

  .align-content-med-start {
    -ms-flex-line-pack: start;
        align-content: flex-start; }

  .align-content-med-stretch {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }

  .align-content-med-between {
    -ms-flex-line-pack: justify;
        align-content: space-between; }

  .align-content-med-center {
    -ms-flex-line-pack: center;
        align-content: center; }

  .align-items-med-start {
    -ms-flex-align: start;
        align-items: flex-start; }

  .align-items-med-center {
    -ms-flex-align: center;
        align-items: center; }

  .align-items-med-end {
    -ms-flex-align: end;
        align-items: flex-end; }

  .align-items-med-stretch {
    -ms-flex-align: end;
        align-items: flex-end; }

  .align-items-med-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }

  .flex-med-1 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(8.33333% - 1.46667rem);
        flex-basis: calc(8.33333% - 1.46667rem);
    max-width: calc(8.33333% - 1.46667rem); }

  .flex-med-2 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(16.66667% - 1.33333rem);
        flex-basis: calc(16.66667% - 1.33333rem);
    max-width: calc(16.66667% - 1.33333rem); }

  .flex-med-3 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(25% - 1.2rem);
        flex-basis: calc(25% - 1.2rem);
    max-width: calc(25% - 1.2rem); }

  .flex-med-4 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(33.33333% - 1.06667rem);
        flex-basis: calc(33.33333% - 1.06667rem);
    max-width: calc(33.33333% - 1.06667rem); }

  .flex-med-5 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(41.66667% - 0.93333rem);
        flex-basis: calc(41.66667% - 0.93333rem);
    max-width: calc(41.66667% - 0.93333rem); }

  .flex-med-6 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(50% - 0.8rem);
        flex-basis: calc(50% - 0.8rem);
    max-width: calc(50% - 0.8rem); }

  .flex-med-7 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(58.33333% - 0.66667rem);
        flex-basis: calc(58.33333% - 0.66667rem);
    max-width: calc(58.33333% - 0.66667rem); }

  .flex-med-8 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(66.66667% - 0.53333rem);
        flex-basis: calc(66.66667% - 0.53333rem);
    max-width: calc(66.66667% - 0.53333rem); }

  .flex-med-9 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(75% - 0.4rem);
        flex-basis: calc(75% - 0.4rem);
    max-width: calc(75% - 0.4rem); }

  .flex-med-10 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(83.33333% - 0.26667rem);
        flex-basis: calc(83.33333% - 0.26667rem);
    max-width: calc(83.33333% - 0.26667rem); }

  .flex-med-11 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(91.66667% - 0.13333rem);
        flex-basis: calc(91.66667% - 0.13333rem);
    max-width: calc(91.66667% - 0.13333rem); }

  .flex-med-12 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(100% - 0rem);
        flex-basis: calc(100% - 0rem);
    max-width: calc(100% - 0rem); }

  .flex-med-offset-0 {
    margin-left: 0.8rem; }

  .flex-med-offset-1 {
    margin-left: calc(8.33333% + 0.8rem); }

  .flex-med-offset-2 {
    margin-left: calc(4.16667% + 0.8rem); }

  .flex-med-offset-3 {
    margin-left: calc(2.77778% + 0.8rem); }

  .flex-med-offset-4 {
    margin-left: calc(2.08333% + 0.8rem); }

  .flex-med-offset-5 {
    margin-left: calc(1.66667% + 0.8rem); }

  .flex-med-offset-6 {
    margin-left: calc(1.38889% + 0.8rem); }

  .flex-med-offset-7 {
    margin-left: calc(1.19048% + 0.8rem); }

  .flex-med-offset-8 {
    margin-left: calc(1.04167% + 0.8rem); }

  .flex-med-offset-9 {
    margin-left: calc(0.92593% + 0.8rem); }

  .flex-med-offset-10 {
    margin-left: calc(0.83333% + 0.8rem); }

  .flex-med-offset-11 {
    margin-left: calc(0.75758% + 0.8rem); }

  .flex-med-offset-12 {
    margin-left: calc(0.69444% + 0.8rem); }

  .align-self-med-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }

  .align-self-med-center {
    -ms-flex-item-align: center;
        align-self: center; }

  .align-self-med-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }

  .flex-med-shrink {
    -ms-flex-negative: 1;
        flex-shrink: 1; }

  .flex-med-first {
    -ms-flex-order: -1;
        order: -1; }

  .flex-med-last {
    -ms-flex-order: 1;
        order: 1; }

  .flex-med-auto {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }

  .flex-med-center {
    margin-left: auto;
    margin-right: auto; }

  .flex-med-left {
    margin-left: initial;
    margin-right: 0; }

  .flex-med-right {
    margin-right: initial;
    margin-left: 0; } }
@media (min-width: 1024px) {
  .flex-lg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .flex-lg.no-compensation-lg {
      margin-left: 0;
      margin-right: 0; }
    .flex-lg > * {
      box-sizing: border-box; }

  .justify-start, .justify-lg-start {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
    box-sizing: border-box; }
    .justify-start > .flex-lg-1, .justify-lg-start > .flex-lg-1 {
      -ms-flex-preferred-size: calc(8.33333% - 1.6rem);
          flex-basis: calc(8.33333% - 1.6rem);
      max-width: calc(8.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-2, .justify-lg-start > .flex-lg-2 {
      -ms-flex-preferred-size: calc(16.66667% - 1.6rem);
          flex-basis: calc(16.66667% - 1.6rem);
      max-width: calc(16.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-3, .justify-lg-start > .flex-lg-3 {
      -ms-flex-preferred-size: calc(25% - 1.6rem);
          flex-basis: calc(25% - 1.6rem);
      max-width: calc(25% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-4, .justify-lg-start > .flex-lg-4 {
      -ms-flex-preferred-size: calc(33.33333% - 1.6rem);
          flex-basis: calc(33.33333% - 1.6rem);
      max-width: calc(33.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-5, .justify-lg-start > .flex-lg-5 {
      -ms-flex-preferred-size: calc(41.66667% - 1.6rem);
          flex-basis: calc(41.66667% - 1.6rem);
      max-width: calc(41.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-6, .justify-lg-start > .flex-lg-6 {
      -ms-flex-preferred-size: calc(50% - 1.6rem);
          flex-basis: calc(50% - 1.6rem);
      max-width: calc(50% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-7, .justify-lg-start > .flex-lg-7 {
      -ms-flex-preferred-size: calc(58.33333% - 1.6rem);
          flex-basis: calc(58.33333% - 1.6rem);
      max-width: calc(58.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-8, .justify-lg-start > .flex-lg-8 {
      -ms-flex-preferred-size: calc(66.66667% - 1.6rem);
          flex-basis: calc(66.66667% - 1.6rem);
      max-width: calc(66.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-9, .justify-lg-start > .flex-lg-9 {
      -ms-flex-preferred-size: calc(75% - 1.6rem);
          flex-basis: calc(75% - 1.6rem);
      max-width: calc(75% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-10, .justify-lg-start > .flex-lg-10 {
      -ms-flex-preferred-size: calc(83.33333% - 1.6rem);
          flex-basis: calc(83.33333% - 1.6rem);
      max-width: calc(83.33333% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-11, .justify-lg-start > .flex-lg-11 {
      -ms-flex-preferred-size: calc(91.66667% - 1.6rem);
          flex-basis: calc(91.66667% - 1.6rem);
      max-width: calc(91.66667% - 1.6rem);
      margin-left: 0.8rem;
      margin-right: 0.8rem; }
    .justify-start > .flex-lg-12, .justify-lg-start > .flex-lg-12 {
      -ms-flex-preferred-size: calc(100% - 1.6rem);
          flex-basis: calc(100% - 1.6rem);
      max-width: calc(100% - 1.6rem); }

  .row-reverse-lg {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }

  .flex-column-lg {
    -ms-flex-direction: column;
        flex-direction: column; }
    .flex-column-lg > * {
      max-width: 100%; }
    .flex-column-lg.column-reverse-lg {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

  .force-width-lg {
    width: 100%; }

  .flex-lg-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .justify-lg-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }

  .justify-lg-center {
    -ms-flex-pack: center;
        justify-content: center; }

  .justify-lg-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }

  .justify-lg-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .justify-lg-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }

  .align-content-lg-start {
    -ms-flex-line-pack: start;
        align-content: flex-start; }

  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }

  .align-content-lg-between {
    -ms-flex-line-pack: justify;
        align-content: space-between; }

  .align-content-lg-center {
    -ms-flex-line-pack: center;
        align-content: center; }

  .align-items-lg-start {
    -ms-flex-align: start;
        align-items: flex-start; }

  .align-items-lg-center {
    -ms-flex-align: center;
        align-items: center; }

  .align-items-lg-end {
    -ms-flex-align: end;
        align-items: flex-end; }

  .align-items-lg-stretch {
    -ms-flex-align: end;
        align-items: flex-end; }

  .align-items-lg-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }

  .flex-lg-1 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(8.33333% - 1.46667rem);
        flex-basis: calc(8.33333% - 1.46667rem);
    max-width: calc(8.33333% - 1.46667rem); }

  .flex-lg-2 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(16.66667% - 1.33333rem);
        flex-basis: calc(16.66667% - 1.33333rem);
    max-width: calc(16.66667% - 1.33333rem); }

  .flex-lg-3 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(25% - 1.2rem);
        flex-basis: calc(25% - 1.2rem);
    max-width: calc(25% - 1.2rem); }

  .flex-lg-4 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(33.33333% - 1.06667rem);
        flex-basis: calc(33.33333% - 1.06667rem);
    max-width: calc(33.33333% - 1.06667rem); }

  .flex-lg-5 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(41.66667% - 0.93333rem);
        flex-basis: calc(41.66667% - 0.93333rem);
    max-width: calc(41.66667% - 0.93333rem); }

  .flex-lg-6 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(50% - 0.8rem);
        flex-basis: calc(50% - 0.8rem);
    max-width: calc(50% - 0.8rem); }

  .flex-lg-7 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(58.33333% - 0.66667rem);
        flex-basis: calc(58.33333% - 0.66667rem);
    max-width: calc(58.33333% - 0.66667rem); }

  .flex-lg-8 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(66.66667% - 0.53333rem);
        flex-basis: calc(66.66667% - 0.53333rem);
    max-width: calc(66.66667% - 0.53333rem); }

  .flex-lg-9 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(75% - 0.4rem);
        flex-basis: calc(75% - 0.4rem);
    max-width: calc(75% - 0.4rem); }

  .flex-lg-10 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(83.33333% - 0.26667rem);
        flex-basis: calc(83.33333% - 0.26667rem);
    max-width: calc(83.33333% - 0.26667rem); }

  .flex-lg-11 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(91.66667% - 0.13333rem);
        flex-basis: calc(91.66667% - 0.13333rem);
    max-width: calc(91.66667% - 0.13333rem); }

  .flex-lg-12 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    -ms-flex-preferred-size: calc(100% - 0rem);
        flex-basis: calc(100% - 0rem);
    max-width: calc(100% - 0rem); }

  .flex-lg-offset-0 {
    margin-left: 0.8rem; }

  .flex-lg-offset-1 {
    margin-left: calc(8.33333% + 0.8rem); }

  .flex-lg-offset-2 {
    margin-left: calc(4.16667% + 0.8rem); }

  .flex-lg-offset-3 {
    margin-left: calc(2.77778% + 0.8rem); }

  .flex-lg-offset-4 {
    margin-left: calc(2.08333% + 0.8rem); }

  .flex-lg-offset-5 {
    margin-left: calc(1.66667% + 0.8rem); }

  .flex-lg-offset-6 {
    margin-left: calc(1.38889% + 0.8rem); }

  .flex-lg-offset-7 {
    margin-left: calc(1.19048% + 0.8rem); }

  .flex-lg-offset-8 {
    margin-left: calc(1.04167% + 0.8rem); }

  .flex-lg-offset-9 {
    margin-left: calc(0.92593% + 0.8rem); }

  .flex-lg-offset-10 {
    margin-left: calc(0.83333% + 0.8rem); }

  .flex-lg-offset-11 {
    margin-left: calc(0.75758% + 0.8rem); }

  .flex-lg-offset-12 {
    margin-left: calc(0.69444% + 0.8rem); }

  .align-self-lg-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }

  .align-self-lg-center {
    -ms-flex-item-align: center;
        align-self: center; }

  .align-self-lg-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }

  .flex-lg-shrink {
    -ms-flex-negative: 1;
        flex-shrink: 1; }

  .flex-lg-first {
    -ms-flex-order: -1;
        order: -1; }

  .flex-lg-last {
    -ms-flex-order: 1;
        order: 1; }

  .flex-lg-auto {
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }

  .flex-lg-center {
    margin-left: auto;
    margin-right: auto; }

  .flex-lg-left {
    margin-left: initial;
    margin-right: 0; }

  .flex-lg-right {
    margin-right: initial;
    margin-left: 0; } }
/**
* Syntaxique sugar
*/
* {
  box-sizing: border-box; }

body, html {
  background-color: #DCE0EC;
  font: 10px 'Open Sans', sans-serif; }

header {
  padding: 3em 2em;
  background-color: #2F4673;
  border-bottom: 3px solid #829FD9;
  text-align: center;
  font-size: 2em;
  color: #DCE0EC; }

.button, button {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem 0;
  padding: 0.6em 1.2em;
  background-color: #3F61A6;
  color: #fff;
  border: 2px solid #3F61A6;
  border-radius: 3px;
  font-weight: 400;
  font-size: .8em;
  line-height: normal;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .button:hover, button:hover {
    background-color: #fff;
    color: #3F61A6; }
  .button .fa, button .fa {
    margin-right: .6em; }

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.6em; }
  #wrapper xmp {
    padding: 1em;
    margin: 0;
    background-color: #222;
    overflow: auto;
    color: #DCE0EC;
    font: 300 0.8em/1.6em "Source Code Pro", sans-serif; }
  #wrapper .box {
    margin-bottom: -1em; }
    #wrapper .box > * {
      min-height: 2em;
      margin-bottom: 1em;
      background-color: #03A6A6; }
      #wrapper .box > *.box-high {
        min-height: 4em; }
  #wrapper section {
    background: #fff; }
    #wrapper section.fill {
      background-color: #fff; }
